<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storeflow.common.numbering.DocumentSequenceMapper">

    <select id="nextSaleSequence" resultType="long">
        SELECT nextval('sale_number_seq')
    </select>

    <select id="nextPurchaseOrderSequence" resultType="long">
        SELECT nextval('purchase_order_number_seq')
    </select>

</mapper>
